# Part 1 - Basic Math with Python
by Kaan Kabalak @ witfuldata.com

We will use Jupyter notebooks. They are great for data science and analysis purposes.

There are many tutorials on the internet explaining how to install and use them. It is a simple process. Yet, my suggestion is that you install Anaconda and use it from there. That's what I did for this tutorial series. 

There are few things to know before we go on. Check the code blocks below to see what they are.

In [1]:
# This is a code comment --- It has no effect. When you see something written next to a hashtag (#), it means that Python will not process it
# print (2 + 2) # Python will not take it consideration because it is a comment

We can also use Jupyter markdown blocks to add normal text like this. Sometimes I will use code comments and sometimes I will use normal text blocks.

In [2]:
# In normal Python files, you always need to use the print function to see an output in the terminal
print (2 + 2)

4

In [3]:
# In Jupyter, there is no need to use the print function to see the output for single operations
2 + 2

4

In [4]:
# If you want to see the output for multiple operations, you will need the print function
print (2 + 2)
print (4 + 4)

4
8

In [5]:
# If you do not use the print function in Jupyter when you do multiple operations, it will print the result of only the last
2 + 2
4 + 4

8

##  Basic Arithmetic Operations

Python is capable of arithmetic operations.

In [6]:
# Addition
10 + 4

14

In [7]:
# Substraction
10 - 5

5

In [8]:
# Multiplication
20 * 2

40

In [9]:
# Division
40 / 5

8.0

In [10]:
# Remainder of division
40 % 6

4

In [11]:
# Square
3 ** 2

9

In [12]:
# Cube
3 ** 3

27

In [13]:
# Power
4 ** 5

1024

## Order of Arithmetic Operations

Just like the way we deal with arithmetic operations (substraction, division etc.) in an orderly fashion, Python does the same. 

This order of arithmetic operations is known as the BEDMAS order. 

It goes as follows: 


- Brackets ( )
- Exponents **  
- Division / and Multiplication * 
- Addition + and Subtraction -

In [14]:
# Multiplication-first approach
1 + 2 * 4

9

In [15]:
# Brackets-first approach
(1 + 2) * 4

12

When there are multiple operations which seem to have the same priority, Python goes from left to right.

In [16]:
8 / 2 * 3

12.0

## Variables

It would be really frustrating to type every number each time we want to do something with it. For example, assume that you want to do something with the number 5354325. Are you going to type it everytime you want to use it? You can, of course, copy-paste it, but what if you have to work with multiple large numbers? Variables are here to help.

You can simply name a variable and use ' = ' operator to assign a value to it. Like this:

In [17]:
animals = 400

In [18]:
animals

400

In [19]:
new_animals = 250

In [20]:
all_animals = animals + new_animals
all_animals

650

## Assignment Operators

Assignment operators will carry out an arithmetic operation on variable and assign the result as the new value of the variable. Here are some of the most commonly used ones:

* +=
* -=
* *=
* /=

In [21]:
a_var = 5
a_var

5

In [22]:
# Add
a_var += 7
a_var

12

In [23]:
# Substract
a_var -= 3
a_var

9

In [24]:
# Multiply
a_var *= 2
a_var

18

In [25]:
a_var /= 3
a_var

6.0