# Part 4 - Some Useful Built-in Functions
by Kaan Kabalak @witfuldata.com

There are different flavors when it comes to Python functions and methods (object functions):

* Programmer-defined : The ones that we define and use
* Library functions : The ones that were defined in libraries. The library containing the function or the method has to be imported first.
* Built-in functions : The functions that were pre-defined in Python. It is not necessary to import anything. They are already available whenever we use Python

Some of these built-in functions can be very useful. Even when you use data analysis/science libraries, you will need to use some built-in function. Let's take a look at them!

## len ( )
The len function returns the length of an object. With this function we can check how many elements there are in collection variables like lists or how many characters there are in strings.

In [1]:
# Length of a list
a_list = [1, 2, 3, 4, 5, 6, 7, 8]
len (a_list)

8

In [2]:
# Length of a string (Note that spaces are also counted as characters)
c_var = "I don't know the number of characters in this sentence"
len (c_var)

54

## enumerate ( )

The enumerate function can be used to print out the index numbers of collection variables or do operations with them.

In [3]:
a_list = [1, 2, 3, 4, 5, 6, 7, 8]

# Print out the index numbers and the corresponding values
for x, y in enumerate(a_list):
    print (x,y)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [4]:
# Define two lists with the same length
nd_list = [13, 15, 19, 24, 35, 56, 17, 28]
md_list = [9, 10, 11, 12, 13, 14, 15, 16]

# Multiply values with matching indexes
for n,x in enumerate(nd_list):
    for m, y in enumerate (md_list):
         if n == m:
              print (x * y)

117
150
209
288
455
784
255
448

## range ( )

The range function repeats an action within a specifies a range. It counts in the Pythonic way, meaning that it starts counting from zero.

In [5]:
for i in range(5):
    print (i)

0
1
2
3
4

We can also print values in a range between different numbers:

In [6]:
# Note that this will start at 15 and finish at 24
for i in range (15,25):
    print (i)

15
16
17
18
19
20
21
22
23
24

While you can use the range function to print values within a certain range, one of the most useful things you can do with it is to have Python repeat an action for a certain number of times. For example:

In [7]:
a_var = 10

# Add a_var to itself, repeat it in 3 steps:
for i in range (3):
    a_var += a_var

a_var

80

Here is what just happened :

* Step 0 --- 10 + 10 = 20
* Step 1 --- 20 + 20 = 40
* Step 2 --- 40 + 40 = 80

The value of a_var changed each time because we used an assignment operator

In [8]:
s_var = "Hello"

# Add "World" to s_var, repeat it in 4 steps
for i in range (4):
    s_var += " World"


s_var

'Hello World World World World'

## abs ( )

This function returns the absolute value. This means that it will give you a positive value even if you pass a negative value to it.

In [9]:
n_var = - 120
p_var = abs (n_var)
p_var

120

In [10]:
print (200-450)
print (abs(200-450))

-250
250

## round ( )

This function removes the decimal points from floats. The first arguments specifies the number we want to round, the second argument specifies how many decimal points we want to keep.

In [11]:
round (18.72, 1) # Keep one decimal point

18.7

In [12]:
round (18.72, 0) # Do not keep any decimal points. This will round the float into the nearest integer.

19.0

## max ()
This function will return the maximum value for collection variables like lists. For strings, it will return the character that comes last in alphabetical order.

In [13]:
# The maximum value of a list
m_list = [1321, 412652, 42342, 243234, 734573, 9234, 1643]
max (m_list)

734573

In [14]:
# The maximum of a string
m_var = "hello"
max(m_var)

'o'

## min ( )
This function will do the exact opposite of the max function, returning the mininum value. For strings, it will return the character that comes first in alphabetical order. Note that upper cases are always considered to come first in this order.

In [15]:
# The minimum value of a list
m_list = [1321, 412652, 42342, 243234, 734573, 9234, 1643]
min (m_list)

1321

In [16]:
# The minimum of a string
m_var = "hello"
min (m_var)

'e'

## map ( )
The map function takes a function and applies it to the every element of an iterable object (like a list)

You should note that the results of this function are not directly accessible. You need to unpack the results. See how to do this below:

In [17]:
# Define a list of strings
str_list = ["Jack", "John", "Michael", "Andrew"]


# Map the length function to this list of strings, assign it to a variable
name_lenghts = map (len, str_list)

# Unpack the map object variable with the * operator in brackets [ ], assign it to a variable
lenghts_list = [*name_lenghts]

lenghts_list

[4, 4, 7, 6]

In [18]:
# Define a list of strings, find the alphabetical max of each string
str_list = ["jack", "john", "michael", "andrew"]
max_character = map (max, str_list)
max_list = [*max_character]
max_list

['k', 'o', 'm', 'w']

In [19]:
# Define a list of strings, find the alphabetical min of each string
str_list = ["jack", "John", "michael", "andrew"] # For John, J will come first because it is upper case
min_char = map (min, str_list)
min_lst = [*min_char]
min_lst

['a', 'J', 'a', 'a']

### Exercises

* Define a string variable with a long sentence as its value. Check its length.
* Print the values between the numbers between 27 and 38, starting from 27 and finishing at 37
* Substract 7200 from 9450, print the absolute value
* Round 12.78 to the nearest integer
* Round 14.30 to the nearest integer
* Define a list, print its maximum value
* Define a list, print its minimum value
* Define a list with a mixture of negative and maximum values. Print the absolute values of the elements (use a map function to solve this problem fast)