# Part 2 - Main Python Concepts
by Kaan Kabalak @ witfuldata.com

## Data Types

A data type can actually be understood by answering a simle question: How does Python categorize what we write? For example, to our understanding, there is no difference between 12 and "12" (the same number in quatation marks). However, for Python, these two are very different things. It will carry out a different operation for each. That's why learning about data types is important. This way you can have an idea about how Python is going to perceive what you write.

### Regular Variable Data Types

- Integer (int)

These are numbers without decimal points.

- Float (float)

These are numbers with decimal points. 

- String (str)

They consist of text data. They are typed within quatation marks (" ")

- Boolean (bool)

Booleans have only two possible values: True and False. They are important for understanding the main logic of programming and forming control flow statements (which we will talk about more in the upcoming chapters)


Note: The data type of a variable can be understood by using the type () function. Check out the code blocks below for examples.

In [1]:
# Integer
a_var = 4
type (a_var)

int

In [2]:
# Float
b_var = 3.75
type (b_var)

float

In [3]:
# Boolean
c_var = True
type(c_var)

bool

In [4]:
# Booleans are also integers. (True = 1, False = 0)
boo_1 = True
boo_2 = True
boo_3 = False

# The following is equal to 1 (True) + 1 (True) + 0 (False)
boo_1 + boo_2 + boo_3

2

In [5]:
# String
d_var = "hello 123"          
type (d_var)

str

It is also possible to do operations with strings.

In [6]:
# Add string
d_var + "welcome"

'hello 123welcome'

In [7]:
# Add an empty space string in between
d_var + ' ' + "welcome"

'hello 123 welcome'

One thing that is very important about strings is that they are actually a very good introduction to the concept of methods. Technically, methods are functions that are tied to objects. For example, we have the d variable that holds a string as a value. It is now a string object. We can use special functions that are tied to this string object. They will do something to the object which they are tied to.

In [8]:
# String method - upper
d_var.upper()

'HELLO 123'

In [9]:
# String method - title
d_var.title()

'Hello 123'

In [10]:
# String method - split
d_var.split()

['hello', '123']

In [11]:
# String method - count
d_var.count('o')

1

### Collection Variables

- Lists

Lists are made up of one or more elements. They can hold values of different data types

- Tuples

Tuples are like lists in may ways but they have different features and methods. We will go a bit into the details of this difference.

- Sets

Sets only hold unique values. For example, if you try to add the same string object multiple times, it will take into consideration only the first one. 

- Dictionaries

For data science and analysis implementations, understanding how dictionaries are structured is very important. Many objects (like data frames) are structured in a way very similar to dictionaries. So, what are they and why are they called dictionaries? To understand, you can think of a real dictionary. A real dictionary has words (keys) and the meaning of these words (values). The structure of dictionaries in Python is very similar. They consist of key-value pairs. Keys are usually typed like strings and the values can consist of different data types such as single integer-float values or lists. Keys can even hold other dictionaries as values.

In [12]:
# List
cats = ["Casper", "Milky", "Felinus"]
cats

['Casper', 'Milky', 'Felinus']

Just like string objects, list objects have methods. For example, we can append stuff to them.

In [13]:
# List method - append
cats.append("Winkers")
cats

['Casper', 'Milky', 'Felinus', 'Winkers']

In [14]:
# List method - sort
student_grades = [27, 66, 88, 64, 90, 17, 27, 88, 51, 17, 90, 88]
student_grades.sort(reverse=True) # This reverse keyword is known as a argument which tells Python how to implement the method function
student_grades

[90, 90, 88, 88, 88, 66, 64, 51, 27, 27, 17, 17]

In [15]:
student_grades.sort(reverse=False)
student_grades

[17, 17, 27, 27, 51, 64, 66, 88, 88, 88, 90, 90]

In [16]:
# List method - count
student_grades.count(88)

3

In [17]:
# List method - remove
cats.remove("Casper")
cats

['Milky', 'Felinus', 'Winkers']

In [18]:
# List method - pop (remove the last element)
cats.pop()
cats

['Milky', 'Felinus']

Tuples are defined like list, but with normal parantheses ( ) instead of brackets [ ].

In [19]:
# Tuples
student_numbers = (2345, 1231, 4543)

Down below we have a dictionary that has a different variable type as its values. For the keys 'A' and 'B', it has lists. For the key 'C' it has a single value. For the key 'D' it has a string.

In [20]:
# Dictionaries (string-like keys and various-type values)
student_category = {'A' : [2345, 1231, 4543, 'no  number'], 'B' : [1258, 1340], 'C' : 1147, 'D' : 'hello'}

The following variable is of set data type. Notice how we have written 27 and 88 twice, but it only printed out the unique occurences of these repeating values.

In [21]:
# Sets
unique_grades = {27, 66, 88, 64, 90, 17, 27, 88}
unique_grades

{17, 27, 64, 66, 88, 90}

##  Index, Slicing, Accessing and Assigning Values

Understading these concpets is important because many variable types used for data science analysis are structured in a similar way and their values can be accessed through slicing.

- Python starts counting from 0 (the index of elements start with 0, not 1). Yes, it is kinda weird.

- Elements can be accesses using index-based slicing:

    * Letters from strings
    * Elements from lists and tuples
    * Values from dictionary keys (The keys themselves are accessed with their own names, not with index numbers)

In [22]:
# List index
a_list = [1,2,3,4,5]

# To get a specific element, we use brackets [] just next to the variable name and specify the index number of the element
a_list[0]

1

As you can see this printed out the first element of the list.

In [23]:
# Print out the 5th element with index number 4
a_list [4]

5

In [24]:
a_list [5]

IndexError: list index out of range

When we try to access the sixth element (with index number 5), we come across an error because our list does not have a sixth element.

Okay, here is the point where it gets a bit weird. I suggest that you play around with it yourselves to understand.

 We can access elements with range-based slicing. We specify a range starting with the index number of one of the elements, followed by : and then the (index number - 1) of the other element. For example:

 When we specify [0:4] as a range, we will access all the elements from the one with the index number 0 (the first element) to the one with the index number 3 (the fourth element).
 It is quite weird because it takes the index number into consideration before : , but does not do the same after : 

 To feel more comfortable with it we can say something like this:

 - Before : Python counts in its own way (starting from 0)
 - After : Python counts in the human way (starting from 1)

In [25]:
# Range-based slicing
a_list = [1,2,3,4,5]
a_list[1:4] # The first index number (before :) is inclusive, the second index number (after :) is exclusive

[2, 3, 4]

As you can see, this printed out the elements starting from index number 1 all the way up to the element with index number 3 (From the second element to the fourth element)

In [26]:
a_list[:4] # starting with : means that you want all up to a certain element (in this case, the fourth element with index number 3)

[1, 2, 3, 4]

You can also carry out arithmetic operations with list elements that you accessed by slicing.

In [27]:
# Arithmetic operations with list elements
a_list[2] + a_list[4]

8

Tuple values can also be accessed with index numbers.

In [28]:
# Tuple index
student_numbers = (2345, 1231, 4543)
student_numbers[0]

2345

As we have said before, the dictionary keys are accesses through their own names

In [29]:
# Dictionary keys
student_category = {'A' : [2345, 1231, 4543, 'no_number'], 'B' : [1258, 1340], 'C' : 1147, 'D' : 'hello'}
student_category['A']

[2345, 1231, 4543, 'no_number']

We can, however, access the values that are held by keys through index numbers. For example, we want to access the second element (with index number 1) of the list that is held by key 'A'

In [30]:
# Dictionary key values and index numbers
student_category['A'][1]

1231

In [31]:
student_category['B'][1]

1340

In [32]:
# 'int' object cannot be sliced
student_category['C'][0]

TypeError: 'int' object is not subscriptable

In [33]:
# Strings can be sliced
student_category['D'][1]

'e'

## Mutable and Immutable Variables

Mutable means changeable. The most important characteristics of mutable object are :

    * When you assign a mutable variable to a new variable, whatever you do on that new variable will also affect the 
    original variable.

    * You can assign-remove elements with methods or index-based assigning. The assignments and removals will be permanent. It will change the variable itself.

The most important characteristics of immutable objects are:

    * When you assign an immutable variable to a new variable, that new variable is treated as a completely diffent one. The things you do on the new variable will not affect the original one. 

    * You cannot assign-remove elements with methods or index-based slicing. The methods do not change anything. They just print out how the variable would look like with the applied method. To change something you have to actually reassign the variable to itself like s_var = s_var.upper ( ) or use an assignment operator like s_var += "hello again"






- Mutables  are:

    * Lists
    * Sets
    * Dictionaries

- Immutables are:

    * Strings
    * Tuples
    * Integers
    * Floats

In [34]:
# Lists mutability
a_list = [1, 2, 3, 4, 5, 6, 7]
a_list

[1, 2, 3, 4, 5, 6, 7]

In [35]:
# Reasssing a value 
a_list [1] = 14
a_list

[1, 14, 3, 4, 5, 6, 7]

In [36]:
# Assign a_list to new_a_list
new_a_list = a_list
new_a_list

[1, 14, 3, 4, 5, 6, 7]

In [37]:
# Change something in new_a_list or append a value
new_a_list.append (8)

# Check how the original list also changed
a_list

[1, 14, 3, 4, 5, 6, 7, 8]

Whatever we do on the new_a_list variable affects the original a_list variable. This is because lists are mutable objects. Now let's try the same with tuples

In [38]:
# Define a tuple
a_tuple = (1,2,3,4,5)

# Access with index
a_tuple[1]

2

In [39]:
# Try to reassing a value
a_tuple[1] = 14

TypeError: 'tuple' object does not support item assignment

As you can see, we cannot assign values to tuples like we do with lists. This is because tuples are immutable variables.

Another important concept is the index and immutability of strings:

In [40]:
# String index (Access the 1st letter with index number 0)
a_str = "Dog"
a_str[0]

'D'

In [41]:
# Try reassigning a value
a_str[0] = "K"

TypeError: 'str' object does not support item assignment

Once again, we come across an error. This is due to the fact that strings are immutable.

### Exercises

- Define two lists. Take the sum of the 3rd element of the first list and the 4th element of the second list.
- Access the third letter of a word with index-based string slicing
- Define a tuple and access its 3rd element
- Define a dictionary with 3 keys. The first two keys should hold two lists as values and the third key should hold a string. Access the third value of the second key with slicing. 
- Define a list with 5 elements. Reassing a new value to the 2nd element
- Define a list with an arbitrary number of elements. Multiply the 5th and the 7th elements. Access those elements with their index numbers. 
- Define a list. Access the first 3 elements
- Define a list. Access all elements up to the 7th element